/*
  Base
  ===============================================
  Use this file for any base changes ie body colour etc
*/

body {
  background-color: rebeccapurple;
  font-family: $font_body;
  background-color: $color_light;
  color: $color_dark;
}
