/*
  Fonts
  ===============================================
*/

$BASE_FONT_SIZE: 16px;

$font_body: 'Merriweather', times, serif;


/*
  Colors
  ===============================================
*/
$color_dark : RGB(22, 45, 58);
$color_mid_dark : RGB(57, 88, 104);
$color_mid: RGB(140, 165, 150);
$color_mid_light: RGB(206, 217, 183);
$color_light: RGB(252, 255, 244);
