/*
  Three up
  ===============================================
  Three colums that explain what Pancake it
*/


.FeatureCallout {
  text-align: center;

  &.FeatureCallout-wide {
    @include make-sm-column(6);
  }

  &.FeatureCallout-narrow {
    @include make-sm-column(4);
  }

  //Only nested to overwite specificity of FontAwesome
  .FeatureCallout__icon {
    font-size: rem(100px);
    color: $color_mid;

    &.FeatureCallout__icon-dark {
      color: $color_mid_dark;
    }
  }

}

.FeatureCallout__title {
  font-size: rem(20px);
  margin-top: rem(20px);
  padding-top: rem(20px);
  padding-bottom: rem(20px);
  border-top: 2px dashed $color_mid;
  border-bottom: 2px dashed $color_mid;
}


.FeatureCallout__copy {
  font-size: rem(14px);
  line-height: rem(28px);
  padding: rem(20px);
  text-align: left;

  p {
    margin-bottom: rem(10px);
  }
}
