/*
  Header
  ===============================================
  Masthead at top of most pages
*/


.Header {
  background-color: $color_dark;
  color: $color_light;
  padding-top: rem(25px);
  padding-bottom: rem(25px);
  border-bottom: 3px dashed $color_mid_dark;
  background-clip: padding-box;
}

.Header__title {
  font-size: rem(40px);
  text-align: center;
  max-width: rem(280px);
  margin-left: auto;
  margin-right: auto;
  animation: 1s spin;
}

@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}
