/*
  Title
  ===============================================
  Major headings
*/


.Title {
  font-size: rem(28px);
  line-height: rem(38px);
  text-align: center;
  // text-transform: uppercase;
  margin-top: rem(40px);
  margin-bottom: rem(40px);
}
